.Pagination {
  @include margin-top(2);
  display: flex;
  &-prev {
    justify-content: flex-start;
    width: 100%;
    text-align: left;

    &-link {
      color: $color--secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color--primary;
      }
    }
  }

  &-next {
    justify-content: flex-end;
    width: 100%;
    text-align: right;

    &-link {
      color: $color--secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color--primary;
      }
    }
  }
}
