/**
 * Variables
 */

// Colors
$color--base: #2a2a3a;
$color--primary: #2b416a;
$color--secondary: #00a7ba;
$color--tertiary: #e8f7f9;
$color--tertiaryDark: #bfe8ee;
$color--light:#6f6f6f;
$color--background: #f3f7f8;
$color--border: #c4c4c4;
$color--accentDark: #6a6c7a;
$color--accentLight: #a3a6bb;

$color--alert: #44309D;
$color--red: #E8341C;
$color--white: #fff;

// Spacing
$spacing--small: 8px;
$spacing--medium: 16px;
$spacing--large: 24px;
$spacing--xLarge: 32px;

// Font Sizes
$font--500: .875rem;
$font--1000: 1rem;
$font--1500: 1.25rem;
$font--2000: 1.5rem;
$font--2500: 1.75rem;
$font--3000: 2rem;
$font--3500: 2.24rem;

// Font Weights
$font-weight--light: 200;
$font-weight--normal: 400;
$font-weight--bold: bold;

// Icon Sizes
$icon-size--small: 24px;
$icon-size--medium: 40px;

$typographic-leading: round(16 * 1.625);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-course-single-width: 945px;
$layout-course-width: $layout-course-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
