language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
before_script:
  - "npm i -g gatsby"
  - "npm i"
script:
  - "npm run test"
before_deploy:
  - npm run build
deploy:
  provider: pages
  local_dir: public
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
