@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Landing {
  $baseSelector: &;

  &-heroWrapper {
    @include padding(2.2, 1.3, 2, 1.3);
    position: relative;
    background-color: $color--background;
    display: block;

    @include breakpoint-sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacing--medium;
    }
  }

  &-titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-courseWrapper {
    display: none;
    @include breakpoint-sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacing--medium;
    }
  }

  &-callOut {
    @include padding(1, 1.3, 1, 1.3);
    background: $color--tertiary;
    font-size: 1.5em;
    text-align: center;
  }

  &-description {
    font-size: 1.3em;
  }
  // Styling for an ordered list
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-listItem {
    @include margin(0, 0, 1, 0);
  }
  &-listItemText {
    font-size: 1.3em;
  }

  // Styling for a list displayed as boxes
  &-boxList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  &-boxListItem {
    border: 1px solid $color--border;
    @include margin(1, 0, 1, 0);
    @include padding(0.5, 1, 0.5, 1);

    @include breakpoint-xs {
      width: 70%;
    }
    @include breakpoint-lg {
      width: 25%;
    }
  }
}
