@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.TrackCard {
  &-title {
    font-size: 1em;
    margin: $spacing--small;
    text-transform: uppercase;
    @include breakpoint-md {
      font-size: 1.2em;
    }
  }

  &-text { 
    font-size: .9em;
    @include breakpoint-md {
      font-size: 1em;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    padding: $spacing--small;
    height: 100%;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &:active {
      border-color: #00a7ba;
    }
    @include breakpoint-md {
      padding: $spacing--medium;
    }
  }
}
