@import '../../../assets/scss/variables';

.SectionTitle {
  font-size: $font--1500;
  font-weight: normal;
  &--normal {
    font-weight: normal;
  }
  &--body {
    font-size: $font--3000;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}