@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.Question {
  margin-top: $spacing--medium;

  &-choiceInput {
    margin: 0.4rem;
  }
  &-choiceLabel {
    &--isBold {
      font-weight: bold;
    }
  }
  &-legend {
    background-color: $color--primary;
    color: #fff;
    padding: 3px 6px;
  
    &--isCorrect {
      background-color: $color--secondary;
    }
    &--isIncorrect {
      background-color: $color--red; 
    }
  }
}
