@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Lesson {
  padding: 0 15px;
  margin: 0 auto;

  &-homeButton {
    @include margin(1, 1.3, 0, 1.3);
  }

  &-readingList {
    @include margin-top(0.5);
  }

  &-readingListItem {
    @include margin-bottom(0.5);
  }

  &-body {
    @include margin-bottom(1);
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          font-size: $font--large;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }
      }
    }

    & a {
      text-decoration: underline
    }

    & img {
      max-width: 100%;
    }
  }

  &-time {
    font-weight: $font-weight--bold;
  }
}

