.Toast {
    &-container {
        border: 1px solid;
        border-radius: 5px;
        bottom: $spacing--medium;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $spacing--medium;
        position: fixed;
        z-index: 999;
        left: 2.5%;
    }

    &-leftCorner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-text {
        font-weight: bolder;
        margin: 0 $spacing--medium;
        max-width: 90%;
        @media screen and (max-width: 355px){
            font-size: 85%
        }
    }

    &-closeButton {
        cursor: pointer;
        max-height: 20px;
    }

    &-openingAnimation {
        animation-fill-mode: forwards;
        animation-name: openingToast;
        animation-duration: 0.75s;
    }

    &-closing-animation {
        animation-fill-mode: forwards;
        animation-name: closingToast;
        animation-duration: 0.50s;
    }

    &-error {
        background-color: #ebc8c6;
        border-color: #b28f8d;
    }

    &-info {
        background-color: #cbe8f6;
        border-color: #a2b8c3;
    }

    &-success {
        background-color: #def2d6;
        border-color: #b9c8b5;
    }

    &-warning {
        background-color: #fff0cf;
        border-color: #d1cead;
    }
}

@keyframes openingToast {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
  }

@keyframes closingToast {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
      }
  }
