@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Layout {
  max-width: $layout-width;
  padding: 0 1.5rem;
  margin: 0 auto;
  &--fullBleed { 
    padding: 0;
    max-width: 100%;
  }
}
