@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
.LessonButton {
  &-link {
    text-decoration: none;
    @include padding(0.5, 1);
    border: 1px solid #c4c4c4;
    display: inline-block;
    font-size: 1.5em;
    &:active {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}