.Header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-top: 10px solid $color--secondary;
  padding: 0 $spacing--xLarge;
  background-color: $color--primary;
  &-title {
    color: $color--white;
    font-size: $font--logo-mobile;
    font-weight: $font-weight--normal;
    text-transform: uppercase;

    @include breakpoint-sm {
      font-size: $font--logo;
    }
  }
  &-logo,
  &-menu,
  &-link {
    display: flex;
    align-items: center;
  }
  &-icon {
    height: $icon-size--small;
    width: $icon-size--small;
    margin-right: $spacing--small;
    fill: $color--white;
  }
  &-nav {
    align-self: stretch;
  }
  &-list {
    display: flex;
    height: 100%;
    @media (max-width: 749px) {
      display: none;
    }
  }
  &-menu {
    height: 100%;
    padding: 0 $spacing--medium;
    border-bottom: 6px solid transparent;
    &:hover,
    &:focus,
    &:active {
      border-bottom-color: $color--secondary;
    }
    &--icon {
      &:hover,
      &:focus,
      &:active {
        ul {
          opacity: 1;
          transform: none;
        }
      }
      @media (min-width: 750px) {
        display: none;
      }
    }
  }
  &-link {
    height: 100%;
    color: $color--white;
  }
}
