.CourseList {
  $rootSelector: &;
  &-item {
    @include margin-bottom(1.25);
    &:last-child {
      @include margin-bottom(0.5);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    padding: $spacing--medium;
    height: 100%;
    border: 1px solid #00a7ba;
  }

  &-itemTitle {
    @include margin-bottom(0.5);
  }

  &-itemDescription {
    @include line-height(1);
    @include margin-bottom(0.75);
  }

  &--isHorizontal {
    @include margin-top(2);
    display: flex;
    flex-flow: row wrap;

    @include breakpoint-xs {
      justify-content: center;
      text-align: center;
      #{$rootSelector}-item {
        width: 80%;
      }
    }

    @include breakpoint-sm {
      #{$rootSelector}-item {
        width: 30%;
      }
    }
  }
}
