@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Page {
  @include margin-bottom(2);

  &-inner {
    padding: 25px 0;
    @include breakpoint-sm {
      padding: 30px 0;
    }
    
    @include breakpoint-md {
      padding: 40px 0;
    }
    
    @include breakpoint-lg {
      padding: 40px 35px;
    }
  }

  &-title {
    font-size: $font--xl;
    font-weight: $font-weight--bold;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  &-body {
    @include line-height(1);
    @include margin(0, 0, 1);
  }

}