@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.Content {
  max-width: $layout-course-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &-title {
    font-size: $font--large;
    max-width: $layout-course-width;
    margin: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }

  &-body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-course-width;
          font-size: $font--large;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5)
        }

      }

    }

    & a {
      text-decoration: underline
    }

    & * {
      max-width: $layout-course-width;
      margin-left: auto;
      margin-right: auto
    }

    & img {
      max-width: 100%;
    }

  }

}

@include breakpoint-md {
  .Content {
    padding: 0;

    &-title {
      font-size: $font--xl;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5)
    }

    &-body {
      font-size: $font--large;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $font--large;
        @include line-height(1.125);
        @include margin-bottom(1.125)
      }

    }

  }

}