@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.CourseCard {
  @include margin(2, 1.3, 2, 1.3);
  position: relative;
  counter-increment: listItemCount;
  margin-bottom: $spacing--small;
  z-index: 0;
  &::before {
    content: counter(listItemCount);
    position: absolute;
    color: $color--background;
    font-size: 6em;
    z-index: -1;
    line-height: 50px;
    bottom: 90px;
    left: -35px;
  }
}
