@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.CourseCard {
  margin: $spacing--xLarge 0;
  padding: 0 $spacing--xLarge;
  position: relative;
  counter-increment: listItemCount;
  margin-bottom: $spacing--small;
  z-index: 0;
  &::before {
    content: counter(listItemCount);
    position: absolute;
    color: $color--background;
    font-size: 6em;
    z-index: -1;
    line-height: 50px;
    top: 0;
    left: -35px;
  }
}
