name: Awesome Learning CI (Pull Requests)

on:
  pull_request:
    branches:
    - master
    - frontend_redesign_master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: |
        npm install
    - name: Run JavaScript and SCSS linting
      run: |
        npm run lint
    - name: Run unit tests
      run: |
        npm test
    - name: Confirm that platform build succeeds
      run: |
        npm run build
