@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.HowTo {
  padding: 0 15px;
  margin: 0 auto;
  &-listItem {
    @include margin-bottom(0.5);
    counter-increment: listItemCount;
    margin-bottom: $spacing--medium;
    margin-left: 16px;
    &::before {
      content: counter(listItemCount) ' -';
      color: $color--border;
      font-size: 1.5em;
      margin-right: 8px;
      z-index: -1;
      top: -10px;
      left: -20px;
    }
  }
  &-description {
    font-size: 1.3em;
  }
}
